go 1.22.5

use (
	./ai-go/algorithms
	./ai-go/apve
	./ai-go/frameworks/projects/pangin
	./ai-go/functionlibrary
	./ai-go/functionlibrary/gorequests
	./ai-go/gotutorial
	./ai-go/humanfunc
	./ai-go/systemdesign/designpatterns
	./configs/goconfigs
	./interview&answer/companyinterview
	./templates/vulscript/goscript
	./vulnerability
)
